body {
    font-family: Arial, sans-serif;
    background-color: #f9f1f1;
    color: #491407;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 350px; 
    padding: 15px 20px; 
    border: 2px solid #491407;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

input {
    padding: 8px;
    border: 1px solid #491407;
    border-radius: 5px;
    font-size: 14px;
}

/* Estilo para todos os botões */
button {
    padding: 10px;
    border: 1px solid #491407;
    border-radius: 5px;
    font-size: 14px;
    background-color: #491407;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7a2c0f;
}

/* Estilo específico para o botão de CANCELAR */
button#cancelar {
    background-color: #491407;
    color: #fff;
    border: 1px solid #491407;
    border-radius: 5px;
}

button#cancelar:hover {
    background-color: #7a2c0f;
}

/* Estilo para outros botões, como 'Já sou cadastrado' */
small {
    text-align: center;
    display: block;
    margin-top: 10px;
}

button#jaCadastrado {
    background: none;
    border: none;
    color: #491407;
    font-size: 12px;
    cursor: pointer;
}

button#jaCadastrado:hover {
    text-decoration: underline;
}
